<% if (page.layout=='post'){ %>
 <%- partial('_partial/head') %>
  <body>
    <header>
      <%- partial('_partial/header') %>
    </header>
    <div id="container">
      <%- body %>
      <%- partial('_partial/sidebar',{item: page,table: true}) %>
    </div>
    <footer><%- partial('_partial/footer') %></footer>
    <div id="top" style="position:fixed;bottom:100px;right:30px;cursor: pointer;">
        <a title="top"><img src="/img/top.png"/ width="50px"></a>
    </div>
    <%- partial('_partial/after_footer') %>
  </body>
</html>
<% } else if(page.layout=='page'){ %>
  <% if(page.source.match(/\.md$/)){ %>
    <%- partial('_partial/head') %>
      <body>
        <header>
          <%- partial('_partial/header') %>
        </header>
        <div id="container">
          <%- body %>
        </div>
        <footer><%- partial('_partial/footer') %></footer>
        <%- partial('_partial/after_footer') %>
      </body>
     </html>
     <% }else{ %>
    <%- page.content %>
  <% } %>
<% } else if(page.layout=='search'){ %>
 <%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
        <% if(theme.google_cse.enable) { %>
        <div  id="main">
        <div id='cse' style='width:100%;text-align:center'>正在加载搜索结果，请稍等。</div>
        </div>
        <% }else if (theme.swift_search.enable){ %>
        <div id="container">
        <div id="st-results-container">正在加载搜索结果，请稍等。</div>
        <% } %>
      </div>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.layout=='tags'){ %>
 <%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
          <%- partial('_partial/tags')%>
      </div>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.layout=='categories'){ %>
 <%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
          <%- partial('_partial/categories')%>
      </div>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else if(page.category!=null||page.tag!=null||page.archive!=null) { %>
  <%- partial('_partial/head') %>
    <body>
      <header>
        <%- partial('_partial/header') %>
      </header>
      <div id="container">
        <%- body %>
      </div>
      <footer><%- partial('_partial/footer') %></footer>
      <%- partial('_partial/after_footer') %>
    </body>
   </html>
<% } else { %>
 <%- partial('_partial/head') %>
  <body>
    <header>
      <%- partial('_partial/header') %>
    </header>
    <div id="container">
      <%- body %>
      <%- partial('_partial/sidebar',{item: page,table: false}) %>
    </div>
    <footer><%- partial('_partial/footer') %></footer>
    <%- partial('_partial/after_footer') %>
  </body>
 </html>
<% } %>